.container-acordion {
    margin-top: 56px;
    margin-bottom: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-acordion-width {
    width: 50%;
  }
  
  .container-hospedagem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(-90deg, rgba(43, 6, 67, 0.85), rgb(120, 3, 121), rgb(2, 18, 31));
    color: #fff;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .container-hospedagem-wordpress{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    
  }
  .content-hospedagem-wordpress-left {
    display: flex;
    flex-direction: column;
  
  }
  .content-hospedagem-wordpress-rigth{
    display: flex;
    
   
  }
  
  
  .content-info h3 {
    font-size: 14px;
    color: #ffffff9a;
  }
  
  .content-info h2 {
    width: 600px;
    font-size: 40px;
    color: #fff;
  }
  p {
    margin-bottom: 20px;
  }
  
  
  .planos-word-press{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-top: 56px;
  }
  
  .plano-title{
    margin-top: 20px;
  }